In [175]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [176]:
from sklearn.datasets import load_boston
x1 = load_boston()
X = pd.DataFrame(x1.data, columns=boston.feature_names)
y1 = boston["target"]
Y = pd.DataFrame(y1, columns=["price"])

In [177]:
X.head(), Y.head()

(      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
 0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
 1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
 2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
 3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
 4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

    PTRATIO       B  LSTAT
 0     15.3  396.90   4.98
 1     17.8  396.90   9.14
 2     17.8  392.83   4.03
 3     18.7  394.63   2.94
 4     18.7  396.90   5.33  ,
    price
 0   24.0
 1   21.6
 2   34.7
 3   33.4
 4   36.2)

In [178]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [179]:
from sklearn.linear_model import LinearRegression as lr
lr = LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression()

In [180]:
check_test = pd.DataFrame({
    "Y_test": Y_test["price"],
    "Y_pred": lr.predict(X_test).flatten()
})

check_test.head(20)

     Y_test     Y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433
218    21.5  24.822862
9      18.9  18.530570
414     7.0  -6.865435
78     21.2  21.801723
323    18.5  19.225712
473    29.8  26.191920
124    18.8  20.277339
388    10.2   5.615964
195    50.0  40.448880
448    14.1  17.576959

In [181]:
from sklearn.metrics import r2_score
R2_lr = r2_score(check_test['Y_test'], check_test['Y_pred'])
print(R2_lr)

0.711226005748496

Довольно большая погрешность

-2-

In [182]:
from sklearn.ensemble import RandomForestClassifier as rfc
model = RandomForestClassifier(n_estimators=1000, max_depth=12, random_state=42)

In [183]:
Y_train1 = np.array(Y_train.values[:, 0], dtype=int)

In [184]:
model.fit(X_train, Y_train1)

RandomForestClassifier(max_depth=12, n_estimators=1000, random_state=42)

In [185]:
check_test2 = pd.DataFrame({
    "Y_test": Y_test["price"],
    "Y_pred": model.predict(X_test).flatten()
})

check_test_rfc.head(20)

     Y_test  Y_pred
173    23.6      22
274    32.4      32
491    13.6      15
72     22.8      23
452    16.1      14
76     20.0      20
316    17.8      19
140    14.0      13
471    19.6      21
500    16.8      21
218    21.5      23
9      18.9      16
414     7.0       8
78     21.2      21
323    18.5      22
473    29.8      25
124    18.8      20
388    10.2       7
195    50.0      50
448    14.1      15

In [186]:
R2_rfc = r2_score(check_test2['Y_test'], check_test2['Y_pred'])
print('RandomForest:', R2_rfc)
print('LinearRegression:', R2_lr)

RandomForest: 0.8370756186213897
LinearRegression: 0.711226005748496

Алгоритм RandomForestClassifier показывает более точный результат, но все равно недостаточен для идеала.